*{
    margin: 0;
    padding: 0;
    right: 0;
}

body{
    background-image: url("../file_gambar/emyu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

nav{
    top: 0;
    width: 100%;
    background-color: black;
    color: rgb(15, 15, 14);
    padding: 20px 0 20px 30px;
    font-size: 20px;
    position: absolute;
  } 

nav a{
    padding: 10px 30px 10px 30px;
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease-in-out ;
}


.content {
    display: flex;
}

.kotak {
    display: flex;
}

.judul {
    margin-top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

.satu, .dua, .tiga {
    flex: 1;
    color: white;
    font-size: 30px;
    text-align: center;
}

.satu p, .dua p, .tiga p{
    margin-top: 10px;
}

.satu,.tiga{
    padding-top: 100px;
    left: 0;
}

.dua{
    padding-top: 50px;
}


.welcome {
    justify-content: center;
    height: 100vh;
    flex: 1;
  }
  
.welcome h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 80px;
}
  
footer{
    left: 0;
    right: 0;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    padding: 20px;
    position:absolute;
}

footer p{
    margin: 0;
    font-size: 14px;

}

.profil{
    text-align: right;
}

.greeting {
    float: right;
  } 